<title>Scope App</title>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
/*
my attempt at adding icons. didn't work. use link below to try and fix: https://realfavicongenerator.net/
*/
