<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>
<body>
<div class ="headerDiv">
            <header>
                <img class="headerlogo" src="scope_logo.png" alt="logo">
                <div class = headerButtons>
                    <a class="btna"><button class="headerbtn">Lunch Buddies</button></a>
                    <a class="btna"><button class="headerbtn">Scope Cup</button></a>
                    <a class="btna"><button class="eboardbtn">E-Board</button></a>
                </div>               
            </header> 
        </div>
<h1>Lunch Buddies</h1>
<p><strong>Next Cycle By: <strong>Wednesday October 17, 2021</p>
<table class = table >
    <tr bgcolor= #6734D1>
      <th >   Person 1  </th>
      <th >   Person 2   </th>
    </tr>
    <tr>
      <td>  Jady  </td>
      <td>Nicole</td>
    </tr>
    <tr bgcolor = #F2E4FD >
        <td>Jeffery</td>
        <td>Moses</td>
    </tr>
    <tr >
        <td>Moses</td>
        <td>Jeffery</td>
    </tr>
    <tr bgcolor = #F2E4FD  >
        <td>Ryan</td>
        <td>Josh</td>
    </tr>
    <tr>
        <td>Josh</td>
        <td>Ryan</td>
    </tr>
    <tr bgcolor = #F2E4FD >
        <td>Isabella</td>
        <td>Julia</td>
    </tr>
    <tr>
      <td>  Jady  </td>
      <td>Nicole</td>
    </tr>
    <tr bgcolor = #F2E4FD >
        <td>Jeffery</td>
        <td>Moses</td>
    </tr>
    <tr >
        <td>Moses</td>
        <td>Jeffery</td>
    </tr>
    <tr bgcolor = #F2E4FD  >
        <td>Ryan</td>
        <td>Josh</td>
    </tr>
    <tr>
        <td>Josh</td>
        <td>Ryan</td>
    </tr>
    <tr bgcolor = #F2E4FD >
        <td>Isabella</td>
        <td>Julia</td>
    </tr>
  </table>
  <button class = button >Shuffle</button>
  <a href  = "scopeCup.html" > <button class >Scope Cup</button> </a>
</body>
</html>
