<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="Style.css"  
  
  
  rel="preconnect" href="https://fonts.googleapis.com"

  >
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
<title text-align: center> Page Title</title>
</head>
<body>

<h1>Nicole</h1>
<p><strong>Next Cycle By: <strong>Wednesday October 17, 2021</p>


<table class = table > 
    <tr bgcolor= #6734D1>
      <th >   Team Name  </th>
      <th >   Points Total   </th>
    </tr>

    <tr>
     
      <td>  Jady  </td>
      <td>652</td>

    </tr>
    <tr bgcolor = #f2e4fd >
        <td>Jeffery</td>
        <td>620</td>
    </tr>
    <tr >
        <td>Moses</td>
        <td>610</td>
    </tr>
    <tr bgcolor = #f2e4fd  >
        <td>Ryan</td>
        <td>441</td>
    </tr>
    <tr>
        <td>Josh</td>
        <td>370</td>
    </tr>
    <tr bgcolor = #f2e4fd >
        <td>Isabella + Julia</td>
        <td>310</td>
    </tr>
  </table>

  <button class = button >Shuffle</button>

</body>
</html>
