<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
<title text-align: center> Page Title</title>
</head>
<body>

<h1>Lunch Buddies</h1>
<p><strong>Next Cycle By: <strong>Wednesday October 17, 2021</p>


<table class = table > 
    <tr bgcolor= #6734D1>
      <th >   Person 1  </th>
      <th >   Person 2   </th>
    </tr>

    <tr>
     
      <td>  Jady  </td>
      <td>Nicole</td>

    </tr>
    <tr bgcolor = #f2e4fd >
        <td>Jeffery</td>
        <td>Moses</td>
    </tr>
    <tr >
        <td>Moses</td>
        <td>Jeffery</td>
    </tr>
    <tr bgcolor = #f2e4fd  >
        <td>Ryan</td>
        <td>Josh</td>
    </tr>
    <tr>
        <td>Josh</td>
        <td>Ryan</td>
    </tr>
    <tr bgcolor = #f2e4fd >
        <td>Isabella</td>
        <td>Julia</td>
    </tr>


    <tr>
     
      <td>  Jady  </td>
      <td>Nicole</td>

    </tr>
    <tr bgcolor = #f2e4fd >
        <td>Jeffery</td>
        <td>Moses</td>
    </tr>
    <tr >
        <td>Moses</td>
        <td>Jeffery</td>
    </tr>
    <tr bgcolor = #f2e4fd  >
        <td>Ryan</td>
        <td>Josh</td>
    </tr>
    <tr>
        <td>Josh</td>
        <td>Ryan</td>
    </tr>
    <tr bgcolor = #f2e4fd >
        <td>Isabella</td>
        <td>Julia</td>
    </tr>
  </table>

  <button class = button >Shuffle</button>
  <a href  = "https://github.com/nicole-russack/TeamAScope/blob/main/views/pages/scopeCup.html" > <button class >Scope Cup</button> </a>

</body>
</html>
